<app-menu></app-menu>

<ion-content [ngClass]="{'menuHeadercontent ion-padding': true}" [ngStyle]="{'--background':background_color}">
   <!-- INPUT TABLE -->
   <div scrollX="true">
      <ion-row style="flex-wrap: nowrap;" class="pad00">
         <ion-col style="max-width: 150px;text-align:right;vertical-align: middle"
            *ngIf="editMnemonics.selectedAction === 'RENAME'" class="pad00">
            <ion-item class="border-button" (click)="toggleRenameTable($event)">
               <ion-label>
                  <span class="print-fine">Rename?</span>
               </ion-label>
               <ion-checkbox slot="end" (click)="toggleRenameTable($event)"
                  [(ngModel)]="editMnemonics.isRenameTable"></ion-checkbox>
            </ion-item>
         </ion-col>
         <ion-col *ngIf="editMnemonics.selectedAction==='INSERT'" class="pad00" style="min-width: 150px;max-width: 200px;">
            <ion-item class="border-button" (click)="toggleInsertNewTable($event)" style="width:100%;">
               <ion-label>
                  <span class="print-fine">New Table?</span>
               </ion-label>
               <ion-checkbox slot="end" type="checkbox" [(ngModel)]="editMnemonics.isNewTable"
                  (click)="toggleInsertNewTable($event)"></ion-checkbox>
            </ion-item>
         </ion-col>
         <ion-col *ngIf="editMnemonics.isNewTable === false"
            style="text-align:right;vertical-align: middle;min-width: 200px;" class="pad00">
            <ion-item class="border-button">
               <ion-label>
                  <span class="print-fine">Table: </span>
               </ion-label>
               <select style="width: 100%;"
                  [ngClass]="{'sync_background':editMnemonics.selectedTable && editMnemonics.selectedTable.Username===editMnemonics.user.Username, 'rq_background':editMnemonics.selectedTable && editMnemonics.selectedTable.Username!==editMnemonics.user.Username}"
                  [(ngModel)]="editMnemonics.selectedTable" placeholder="table" (change)="doGetTitles(false)">
                  <option
                     [ngClass]="{'sync_background':myTable.Username===editMnemonics.user.Username, 'rq_background':myTable.Username!==editMnemonics.user.Username}"
                     *ngFor="let myTable of editMnemonics.tables" [ngValue]="myTable" style="font-family:monospace;"
                     [innerHTML]="myTable.showOption">
                  </option>
               </select>
            </ion-item>
         </ion-col>
         <ion-col *ngIf="editMnemonics.selectedAction==='INSERT' && editMnemonics.isNewTable === true" class="pad00">
            <ion-item class="border-button">
               <input style="width:100%" type="text" [(ngModel)]="editMnemonics.inputTable" placeholder="Enter table" />
            </ion-item>
         </ion-col>
         <ion-col size="6" *ngIf="editMnemonics.selectedAction==='RENAME' && editMnemonics.isRenameTable===true"
            style="text-align:right;vertical-align: middle" class="pad00">
            <ion-item class="border-button">
               <input type="text" style="width:100%" [(ngModel)]="editMnemonics.renameTable"
                  placeholder="Enter new table name" />
            </ion-item>
         </ion-col>
      </ion-row>
      <!-- INPUT TITLE -->
      <ion-row *ngIf="editMnemonics.isDeleteTable===false && editMnemonics.isInsertTable===false"
         style="flex-wrap: nowrap;" class="pad00">
         <ion-col style="max-width: 150px;text-align:right;vertical-align: middle"
            *ngIf="editMnemonics.selectedAction === 'RENAME'" class="pad00">
            <ion-item class="border-button" (click)="toggleRenameTitle($event)">
               <ion-label>
                  <span class="print-fine">Rename?</span>
               </ion-label>
               <ion-checkbox slot="end" [(ngModel)]="editMnemonics.isRenameTitle"
                  (click)="toggleRenameTitle($event)"></ion-checkbox>
            </ion-item>
         </ion-col>
         <ion-col *ngIf="editMnemonics.selectedAction!=='INSERT'"
            style="text-align:right;vertical-align: middle;min-width: 200px; " class="pad00">
            <ion-item class="border-button">
               <ion-label>
                  <span class="print-fine">Title:</span>
               </ion-label>
               <select style="width: 100%;"
                  [ngClass]="{'sync_background':editMnemonics.selectedTitle && editMnemonics.selectedTitle.Username===editMnemonics.user.Username, 'rq_background':editMnemonics.selectedTitle && editMnemonics.selectedTitle.Username!==editMnemonics.user.Username}"
                  [(ngModel)]="editMnemonics.selectedTitle" placeholder="Title" (change)="reset()">
                  <option
                     [ngClass]="{'sync_background':myTitle.Username===editMnemonics.user.Username, 'rq_background':myTitle.Username!==editMnemonics.user.Username}"
                     *ngFor="let myTitle of editMnemonics.titles" [ngValue]="myTitle" style="font-family:monospace;"
                     [innerHTML]="myTitle.showOption">
                  </option>
               </select>
            </ion-item>
         </ion-col>
         <ion-col *ngIf="editMnemonics.selectedAction==='INSERT'" class="pad00">
            <ion-item class="border-button">
               <input
                  [ngClass]="{'sync_background':editMnemonics.selectedTitle && editMnemonics.selectedTitle.Username===editMnemonics.user.Username, 'rq_background':editMnemonics.selectedTitle && editMnemonics.selectedTitle.Username!==editMnemonics.user.Username}"
                  type="text" style="width:100%" [(ngModel)]="editMnemonics.inputTitle" placeholder="Enter title" />
            </ion-item>
         </ion-col>
         <ion-col size="6" *ngIf="editMnemonics.selectedAction==='RENAME' && editMnemonics.isRenameTitle===true"
            style="text-align:right;vertical-align: middle" class="pad00">
            <ion-item class="border-button">
               <input type="text" style="width:100%" [(ngModel)]="editMnemonics.renameTitle"
                  placeholder="Enter new title" />
            </ion-item>
         </ion-col>
      </ion-row>
   </div>
   <!-- RADIO BUTTON ACTION OPTIONS -->
   <div scrollX="true">
      <ion-radio-group [(ngModel)]="editMnemonics.selectedAction">
         <ion-row style="flex-wrap: nowrap;" class="pad0">
            <ion-col class="pad0">
               <ion-item (click)="doAction('UPDATE')" class="border-button mne-edit-action">
                  <ion-label class="pad00 text-wrap">Update</ion-label>
                  <ion-radio name="editMnemonicSelectAction" class="pad0" value="UPDATE" (click)="doAction('UPDATE')">
                  </ion-radio>
               </ion-item>
            </ion-col>
            <ion-col class="pad00">
               <ion-item (click)="doAction('INSERT')" class="border-button mne-edit-action">
                  <ion-label class="pad00 text-wrap">Insert</ion-label>
                  <ion-radio name="editMnemonicSelectAction" class="pad0" value="INSERT" (click)="doAction('INSERT')">
                  </ion-radio>
               </ion-item>
            </ion-col>
            <ion-col class="pad0">
               <ion-item (click)="doAction('DELETE')" class="border-button mne-edit-action">
                  <ion-label class="text-wrap">Delete</ion-label>
                  <ion-radio name="editMnemonicSelectAction" class="pad0" value="DELETE" (click)="doAction('DELETE')">
                  </ion-radio>
               </ion-item>
            </ion-col>
            <ion-col class="pad0">
               <ion-item (click)="doAction('DELETE_TABLE')" class="border-button mne-edit-action">
                  <ion-label class="text-wrap">Delete Table</ion-label>
                  <ion-radio name="editMnemonicSelectAction" class="pad0" value="DELETE_TABLE"
                     (click)="doAction('DELETE_TABLE')">
                  </ion-radio>
               </ion-item>
            </ion-col>
            <ion-col class="pad0">
               <ion-item (click)="doAction('RENAME')" class="border-button mne-edit-action">
                  <ion-label class="text-wrap">Rename</ion-label>
                  <ion-radio name="editMnemonicSelectAction" class="pad0" value="RENAME" (click)="doAction('RENAME')">
                  </ion-radio>
               </ion-item>
            </ion-col>
         </ion-row>
      </ion-radio-group>
   </div>

   <!-- INSERT OPTIONS -->
   <div *ngIf="editMnemonics.isShowInsertOptions===true">
      <span>Insert What Kind of Mnemonics?</span><br />
      <div scrollX="true">
         <table>
            <ion-radio-group [(ngModel)]="editMnemonics.selectedInsertAction">
               <tr class="text-wrap pad00">
                  <td>
                     <ion-item class="text-wrap border-button" style="min-width: 150px;"
                        (click)="editMnemonics.selectedInsertAction = 'mnemonic';reset()">
                        <ion-label class="text-wrap pad00">Mnemonic</ion-label>
                        <ion-radio class="text-wrap pad00" value="mnemonic" (ionSelect)="reset()"></ion-radio>
                     </ion-item>
                  </td>
                  <td>
                     <ion-item class="text-wrap border-button" style="min-width: 150px;"
                        (click)="editMnemonics.selectedInsertAction = 'number_major';reset()">
                        <ion-label class="text-wrap pad00">Number(Major)</ion-label>
                        <ion-radio class="text-wrap pad00" value="number_major" (ionSelect)="reset()"></ion-radio>
                     </ion-item>
                  </td>
                  <td>
                     <ion-item class="text-wrap border-button" style="min-width: 150px;"
                        (click)="editMnemonics.selectedInsertAction = 'number_letters';reset()">
                        <ion-label class="text-wrap pad00">Number(#Letters)</ion-label>
                        <ion-radio class="text-wrap pad00" value="number_letters" (ionSelect)="reset()"></ion-radio>
                     </ion-item>
                  </td>
                  <td>
                     <ion-item class="text-wrap border-button" style="min-width: 150px;"
                        (click)="editMnemonics.selectedInsertAction = 'anagram';reset()">
                        <ion-label class="text-wrap pad00">Anagram</ion-label>
                        <ion-radio class="text-wrap pad00" value="anagram" (ionSelect)="reset()"></ion-radio>
                     </ion-item>
                  </td>
                  <td>
                     <ion-item class="text-wrap border-button" style="min-width: 150px;"
                        (click)="editMnemonics.selectedInsertAction = 'peglist';reset()">
                        <ion-label class="text-wrap pad00">Peglist</ion-label>
                        <ion-radio class="text-wrap pad00" value="peglist" (ionSelect)="reset()"></ion-radio>
                     </ion-item>
                  </td>
               </tr>
            </ion-radio-group>
         </table>
      </div>
   </div>

   <!-- LINE BREAKS OPTION/NUMBER ENTRIES INPUTS -->
   <div scrollX="true" style="width:100%">
      <table style="width:100%">
         <tr>
            <td style="min-width:75px;text-align:right;padding: 3px;"
               *ngIf="editMnemonics.isShowLineBreakOption===true">
               <label><input type="checkbox" [(ngModel)]="editMnemonics.isLineBreaks" /><span class="lfqText">Line
                     Breaks?</span></label>
            </td>
            <td style="min-width:100px" *ngIf="editMnemonics.isShowInsertOptions===true">
               <label># Entries
                  <input type="number" style="width:75%" [(ngModel)]="editMnemonics.numberEntries" placeholder="#"
                     (keyup)="resetNumberEntries()" />
               </label>
            </td>
            <td style="min-width:200px;width:33%;padding: 3px;"
               *ngIf="((editMnemonics.selectedAction==='UPDATE' || editMnemonics.selectedAction==='INSERT'))">
               <ion-button expand="block" class="button button-block text-wrap lfqButton"
                  [ngStyle]="{'--background': 'linear-gradient(' + button_color + ',' + button_gradient + ')'}"
                  (click)="beginEdit()">
                  <span
                     *ngIf="editMnemonics.selectedAction==='INSERT' || (editMnemonics.selectedAction==='UPDATE' && (!editMnemonics.selectedTitle || editMnemonics.selectedTitle.Username===editMnemonics.user.Username))">
                     Begin Edit
                     <span
                        *ngIf="editMnemonics.selectedTitle && !editMnemonics.selectedTitle.Username && editMnemonics.user">
                        (No-User)
                     </span>
                  </span>
                  <span
                     *ngIf="editMnemonics.selectedAction==='UPDATE' && editMnemonics.selectedTitle && editMnemonics.selectedTitle.Username!==editMnemonics.user.Username">
                     Begin Request {{editMnemonics.selectedTitle.Username}}
                  </span>
               </ion-button>
            </td>
            <td style="min-width:250px;width:33%;padding: 3px;"
               *ngIf="((editMnemonics.isBeginEdit===false && (editMnemonics.selectedAction==='UPDATE' || editMnemonics.selectedAction==='INSERT')) || (editMnemonics.selectedAction==='DELETE' || editMnemonics.selectedAction==='INSERT_TABLE' || editMnemonics.selectedAction==='DELETE_TABLE') || editMnemonics.selectedAction==='RENAME')">
               <ion-button expand="block" class="button button-block text-wrap lfqButton"
                  [ngStyle]="{'--background': 'linear-gradient(' + button_color + ',' + button_gradient + ')'}"
                  (click)="editMnemonic()" [disabled]="!editMnemonics.user">
                  <span
                     *ngIf="editMnemonics.selectedAction==='INSERT' || (editMnemonics.selectedAction==='UPDATE' && (!editMnemonics.selectedTitle || !editMnemonics.user || editMnemonics.selectedTitle.Username===editMnemonics.user.Username))">
                     Edit
                     <span
                        *ngIf="editMnemonics.selectedTitle && !editMnemonics.selectedTitle.Username && editMnemonics.user">
                        (No-User)
                     </span>
                  </span>
                  <span
                     *ngIf="editMnemonics.selectedAction==='UPDATE' && editMnemonics.selectedTitle && editMnemonics.selectedTitle.Username!==editMnemonics.user.Username">
                     Request {{editMnemonics.selectedTitle.Username}}
                  </span>
               </ion-button>
            </td>
         </tr>
      </table>
   </div>
   <!-- RESULTS -->
   <div *ngIf="editMnemonics.results && editMnemonics.results!==''">
      <span [innerHTML]="editMnemonics.results"></span>
   </div>
   <div
      *ngIf="(editMnemonics.selectedAction==='INSERT' || editMnemonics.selectedAction==='UPDATE') && (editMnemonics.selectedInsertAction==='number_major' || editMnemonics.selectedInsertAction==='number_letters' || editMnemonics.selectedInsertAction==='mnemonic')">
      <span
         *ngIf="editMnemonics.getOld && editMnemonics.getOld.length>0 && editMnemonics.getOld[0].Username && editMnemonics.getOld[0].Username.trim!==''">({{editMnemonics.getOld[0].Username}})</span>
      <span [innerHTML]="editMnemonics.totalNumber"></span>
   </div>
   <div scrollX="true" style="height:50px;"
      *ngIf="editMnemonics.isBeginEdit===false && (editMnemonics.selectedAction==='UPDATE' || editMnemonics.selectedAction==='INSERT') && (editMnemonics.selectedInsertAction==='number_major' || editMnemonics.selectedInsertAction==='number_letters')">
      <table style="background-color: white;white-space: nowrap;">
         <tr>
            <td>
               <label>Number Entry:
                  <input type="text" [ngClass]="{'invalid-input':editMnemonics.inputNumber==null}"
                     [(ngModel)]="editMnemonics.inputNumber" placeholder="Enter number or decimal"
                     (input)="formatVerifyMnemonics(false)" />
               </label>
            </td>
            <td>
               <label> X Number Power:
                  <select [(ngModel)]="editMnemonics.inputNumberPower"
                     [ngClass]="{'invalid-input':editMnemonics.inputNumberPower==null}">
                     <option *ngFor="let power of editMnemonics.numberPowers" [ngValue]="power">{{power.name}}
                     </option>
                  </select>
               </label>
            </td>
         </tr>
      </table>
   </div>
   <ion-item *ngFor="let mnemonic of editMnemonics.mnemonics;let i=index;">
      <table width="100%" class="text-wrap edit-input">
         <tr>
            <td>
               <table width="100%" class="text-wrap edit-input">
                  <tr>
                     <td *ngIf="editMnemonics.selectedInsertAction==='anagram' && i===0" class="text-wrap">
                        <label>{{editMnemonics.anagramPrompt}}
                           <input type="text" style="width:100%"
                              [ngClass]="{'invalid-input':editMnemonics.anagramInputInvalid===true}"
                              [(ngModel)]="editMnemonics.anagramInput"
                              placeholder="Enter {{editMnemonics.anagramPrompt}}"
                              (input)="formatVerifyAnagram(false)" /></label>
                     </td>
                     <td *ngIf="editMnemonics.selectedInsertAction==='number_major'" class="text-wrap">
                        {{(i+1) + ")"}}<label>{{editMnemonics.prompt}}
                           <input type="text" style="width:100%"
                              [ngClass]="{'invalid-input':mnemonic.isInvalidMnemonic===true}"
                              [(ngModel)]="mnemonic.Entry_Mnemonic" placeholder="Enter {{editMnemonics.prompt}}"
                              (input)="formatVerify(i, false)" /></label>
                     </td>
                     <td *ngIf="editMnemonics.selectedInsertAction==='number_letters'" class="text-wrap">
                        {{(i+1) + ")"}}<label>{{editMnemonics.prompt}}
                           <input type="text" style="width:100%"
                              [ngClass]="{'invalid-input':mnemonic.isInvalidMnemonic===true}"
                              [(ngModel)]="mnemonic.Entry_Mnemonic" placeholder="Enter {{editMnemonics.prompt}}"
                              (input)="formatVerifyMnemonics(false)" /></label>
                     </td>
                     <td *ngIf="editMnemonics.selectedInsertAction==='peglist'" class="text-wrap">
                        {{(i+1) + ")"}}<label>{{editMnemonics.prompt + peglist[i]}}
                           <input type="text" style="width:100%"
                              [ngClass]="{'invalid-input':mnemonic.isInvalidMnemonic===true}"
                              [(ngModel)]="mnemonic.Entry_Mnemonic"
                              placeholder="Enter {{editMnemonics.prompt + peglist[i]}}"
                              (input)="formatVerifyMnemonics(false)" /></label>
                     </td>
                     <td *ngIf="editMnemonics.selectedInsertAction==='mnemonic'" class="text-wrap">
                        {{(i+1) + ")"}}<label>{{editMnemonics.prompt}}
                           <input type="text" style="width:100%"
                              [ngClass]="{'invalid-input':mnemonic.isInvalidMnemonic===true}"
                              [(ngModel)]="mnemonic.Entry_Mnemonic" placeholder="Enter {{editMnemonics.prompt}}"
                              (input)="formatVerifyMnemonics(false)" /></label>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
         <tr>
            <td>
               <table width="100%" class="text-wrap edit-input">
                  <tr>
                     <td style="vertical-align: bottom;"
                        [ngClass]="{'width-80': editMnemonics.selectedInsertAction!=='number_major', 'width-40': editMnemonics.selectedInsertAction==='number_major'}">
                        <label>{{editMnemonics.wordPrompt}}
                           <input type="text" style="width:100%"
                              [ngClass]="{'invalid-input':mnemonic.isInvalidWord===true}" [(ngModel)]="mnemonic.Entry"
                              placeholder="Enter {{editMnemonics.wordPrompt}}"
                              (input)="formatVerify(i, false)" /></label>
                     </td>
                     <td style="vertical-align: bottom;" *ngIf="editMnemonics.selectedInsertAction==='number_major'"
                        class="width-40">
                        <label>Major Words:
                           <select style="width:100%" [(ngModel)]="mnemonic.selectedMajorWord"
                              (change)="setMajorWord(i)">
                              <option *ngFor="let major_word of mnemonic.majorWords" [ngValue]="major_word">
                                 {{major_word.Word}}
                              </option>
                           </select>
                        </label>
                     </td>
                     <td style="width:10%">
                        <ion-button expand="block" class="button button-block lfqButton"
                           [ngStyle]="{'--background': 'linear-gradient(' + button_color + ',' + button_gradient + ')'}"
                           (click)="addNumber(i)">+</ion-button>
                     </td>
                     <td style="width:10%">
                        <ion-button expand="block" class="button button-block lfqButton"
                           [ngStyle]="{'--background': 'linear-gradient(' + button_color + ',' + button_gradient + ')'}"
                           (click)="removeNumber(i)">-</ion-button>
                     </td>
                  </tr>
                  <tr>
                     <td colspan="1000">
                        <label>{{editMnemonics.infoPrompt}}</label><br />
                        <input type="text" style="width:100%" [(ngModel)]="mnemonic.Entry_Info"
                           placeholder="Enter {{editMnemonics.infoPrompt}}" />
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </ion-item>
</ion-content>