   .timeline-scroll-results {
      height: 30px !important;
      width: 100% !important;
   }

   .results-top {
      width: 40% !important;
      text-align: right;
      display: inline-block !important;
   }

   .results-nav {
      height: 35px !important;
   }

   .combos-click-div {
      text-align: left !important;
      width: 60% !important;
      display: inline-block !important;
   }

   .showTimelineNavigationBar {
      width: 100%;
      margin-top: 5px;
      width: 100%;
   }

   .showTimeline {
      margin-top: 5px !important;
   }

   .notShowTimeline {
      margin-top: 5px !important;
   }


   .timelineYear {
      min-width: 100px;
   }

   .clickable-combo-cells {
      border: 1px solid gray;
      min-width: 100px !important;
      text-align: center;
   }

   .showTimelineNavButton {
      width: 100%;
      border-radius: 20%;
      height: 30px !important;
   }

   .selectedCombo {
      background-color: yellow;
   }

   #choose_words_again_table tr td {
      padding: 5px;
   }