<app-menu></app-menu>

<ion-content scroll="false" padding
   [ngClass]="{'menuHeadercontent': true}" [ngStyle]="{'--background':background_color}">
   <div class="flex-box">
      <ion-row text-wrap class="flex-row-shrink">
         <ion-col col-4 class="text-wrap">
            <button ion-button class="button button-block text-wrap lfqButton" [ngStyle]="{'background-image': 'linear-gradient(' + button_color + ',' + button_gradient + ')'}" 
               (click)="enterShow()">Show / Add</button>
         </ion-col>
         <ion-col col-8 class="text-wrap" style="text-align:left">
            <span *ngIf="worldMap.isShow===true" class="lfqTitleText"
               style="font-weight:bold;font-style: italic;color:rgb(30, 69, 119)">Show Places ..</span>
            <span *ngIf="worldMap.isShow===false" class="lfqTitleText"
               style="font-weight:bold;font-style: italic;color:rgb(4, 119, 23)">Add Places ..</span>
         </ion-col>
      </ion-row>
      <ion-row class="text-wrap" class="flex-row-shrink">
         <ion-col col-4 class="text-wrap">
            <select style="width:100%" [(ngModel)]="worldMap.selectedFilterPlaces" placeholder="Place Type"
               (change)="getFilterPlaces()">
               <option></option>
               <option value="COUNTRY">Countries</option>
               <option value="STATE">States</option>
               <option value="CITIES-1">Western Cities</option>
               <option value="CITIES-2">Eastern Cities</option>
            </select>
         </ion-col>
         <ion-col col-4 class="text-wrap">
            <input *ngIf="worldMap.isShow===false" style="width:100%" type="text" [(ngModel)]="worldMap.newPlaceName"
               placeholder="Place name" />
            <div *ngIf="worldMap.isShow===true" (click)="showPlaces()" class="dropdown_cell">
               <div
                  style="width:80%;height:100%;display: inline-block;vertical-align: middle !important;overflow:hidden;white-space: nowrap;">
                  <strong *ngIf="worldMap.selectedPlace">{{worldMap.selectedPlace.name}}</strong>
               </div>
               <div
                  style="width:15%;height:100%;display: inline-block;text-align:right;vertical-align: middle !important;">
                  <strong>▼</strong>
               </div>
            </div>
         </ion-col>
         <ion-col col-4 class="text-wrap">
            <button ion-button class="button button-block text-wrap lfqButton" [ngStyle]="{'background-image': 'linear-gradient(' + button_color + ',' + button_gradient + ')'}" 
               (click)="seeEditMap()"><span *ngIf="worldMap.isShow===true">See Map <ion-icon name="map" end></ion-icon>
               </span>
               <span *ngIf="worldMap.isShow===false"> Add Place </span>
            </button>
         </ion-col>
      </ion-row>
      <ion-row class="text-wrap" class="flex-row-shrink">
         <ion-col *ngIf="worldMap.isShow===true" class="text-wrap pad00">
            <ion-item>
               <ion-label style="font-size: 10px;" class="pad0 margin0 text-wrap">Select place?
               </ion-label>
               <ion-checkbox class="pad0 margin0" [(ngModel)]="worldMap.isSelect"></ion-checkbox>
            </ion-item>
         </ion-col>
         <ion-col *ngIf="worldMap.isShow===false || worldMap.isSelect" class="text-wrap pad00"
            style="background-color: white;">
            <label>Country:
               <select style="width:100%" [(ngModel)]="worldMap.selectedCountry" placeholder="country"
                  (change)="getStates()">
                  <option></option>
                  <option *ngFor="let country of worldMap.countries" [ngValue]="country">{{country.Name}}
                  </option>
               </select>
            </label>
         </ion-col>
         <ion-col *ngIf="(worldMap.isShow===false || worldMap.isSelect) && worldMap.selectedCountry"
            class="text-wrap pad00" style="background-color: white;">
            <label>State:
               <select style="width:100%" [(ngModel)]="worldMap.selectedState" placeholder="state"
                  (change)="getCities()">
                  <option></option>
                  <option *ngFor="let state of worldMap.states" [ngValue]="state">{{state.Name}}
                  </option>
               </select>
            </label>
         </ion-col>
         <ion-col *ngIf="(worldMap.isShow===false || worldMap.isSelect) && worldMap.selectedState"
            class="text-wrap pad00" style="background-color: white;">
            <label>City:
               <select style="width:100%" [(ngModel)]="worldMap.selectedCity" placeholder="city"
                  (change)="selectCity()">
                  <option></option>
                  <option *ngFor="let city of worldMap.cities" [ngValue]="city">{{city.Name}}
                  </option>
               </select>
            </label>
         </ion-col>
      </ion-row>
      <ion-item *ngIf="worldMap.selectedPlace" text-wrap class="flex-row-shrink">
         <strong style="font-size:16pt;color:rgb(81, 13, 145);font-style:italic">Selected Place:</strong>
         <span *ngIf="worldMap.selectedPlace && worldMap.selectedPlace.Country && worldMap.selectedPlace.Country!=='0'">
            <strong> Country:</strong>
            {{worldMap.selectedPlace.Country}}
         </span>
         <span *ngIf="worldMap.selectedPlace && worldMap.selectedPlace.State && worldMap.selectedPlace.State!=='0'">
            <strong> State:</strong>
            {{worldMap.selectedPlace.State}}
         </span>
         <span *ngIf="worldMap.selectedPlace && worldMap.selectedPlace.City && worldMap.selectedPlace.City!=='0'">
            <strong> City:</strong>
            {{worldMap.selectedPlace.City}}
         </span>
      </ion-item>
      <div #world_map scrollY="true" style="width:100%;" class="horizontal-scroll flex-row-grow">
         <div *ngIf="worldMap.isSeeMap===true"
            [ngStyle]="{'width' : worldMap.mapWidth + 'px', 'height' : worldMap.mapHeight + 'px'}"
            style="background: url('assets/imgs/world-map.jpg')"></div>
         <div *ngIf="worldMap.isSeeMap===false"
            [ngStyle]="{'width' : worldMap.mapWidth + 'px', 'height' : worldMap.mapHeight + 'px'}"
            style="background: url('assets/imgs/world-map-scroll.jpg')" src="assets/imgs/world-map-scroll.jpg"></div>
      </div>
   </div>
</ion-content>