<app-menu></app-menu>

<ion-content padding [ngClass]="{'menuHeadercontent': true}" [ngStyle]="{'--background':background_color}">
   <div *ngIf="showMnemonics.results!=null" class="text-wrap" style="width:100%">
      <strong>{{showMnemonics.results}}</strong>
   </div>
   <div *ngIf="showMnemonics.results==null" style="width:100%;padding: 1px;margin: 1px;">
      <ion-list *ngFor="let category of showMnemonics.mnemonics" style="padding: 1px;margin:1px">
         <ion-item (click)="expand(category)"
            [ngClass]="{'pad00 text-wrap':true, 'expanded':category.isShow, 'collapsed':!category.isShow}">
            <span *ngIf="category.isShow">-</span><span *ngIf="!category.isShow">+</span>{{category.name}}
         </ion-item>
         <ion-list class="pad00" *ngIf="category.isShow">
            <ion-item *ngFor="let title of category.titles;let i = index;" class="pad00 text-wrap break-word">
               <div contenteditable="true">
                  <b><u>&nbsp;&nbsp;&nbsp;{{(i+1)}}.&nbsp;{{title.Title}}({{title.Type}})</u></b>
                  <div contenteditable="true" [innerHTML]="title.text"></div>
               </div>
            </ion-item>
         </ion-list>
      </ion-list>
   </div>
   <ion-item>
      <span [innerHTML]="showMnemonics.results" class="text-wrap"></span>
   </ion-item>
</ion-content>