page-alphabet-acrostics {
   .dropdown_cell{
      width:100%;
      background-color: white;
      border:1px solid black;
      margin: 1px;
      min-height: 25px;
      vertical-align: middle !important;      
   }
}
