page-edit-numbers {
    .edit-number-input{
        height:25px;
    }
    .edit-input th{
        width:100% !important;
        margin-right: 200px !important;
    }
    .titles-row-table tr td{
        height:25px !important;
    }

}
